:root {
    --monza-50: #fff1f2;
    --monza-100: #ffe0e3;
    --monza-200: #ffc6cc;
    --monza-300: #ff9ea8;
    --monza-400: #ff6777;
    --monza-500: #fc374c;
    --monza-600: #ea182e;
    --monza-700: #ce1125;
    --monza-800: #a21221;
    --monza-900: #861622;
    --monza-950: #49060d;

    /* Verde */

    --verde-50: #ebfef4;
    --verde-100: #cefde2;
    --verde-200: #a2f8cb;
    --verde-300: #66efb0;
    --verde-400: #29de91;
    --verde-500: #05c479;
    --verde-600: #00a063;
    --verde-700: #008052;
    --verde-800: #006341;
    --verde-900: #015338;
    --verde-950: #002f20;
  }

html * {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--monza-100);
    box-sizing: border-box;
}

body {
    
    /* Grid */
    display: grid;

}

header {
    min-height: 600px;


    /* Backgroud */
    background-image: url(../IMG/Fondo-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    mask-image: linear-gradient( #000
    #fff,  transparent);
    
}
#wrap-header-content {
    height: 100%;
    width: 100%;
    position: relative;
    /* Backgroud */
    background: linear-gradient(to left, #000, transparent);

}
#wrap-header-content-text {
    width: 50%;
    min-width: 200px;
    max-width: 500px;
    color: #fff;
    position: absolute;
    right: 2%;
    top: 50%;
    font-size: 70%;
}
.cta {
    padding: 2%;
    border: none;
    border-radius: 5px;
    width: 40%;
    box-sizing: content-box;
    max-width: 200px;
    min-width: 150px;
    transition-duration: 0.5s;
    transition-property: transform;

    /* Backgroud */
    background: linear-gradient(var(--verde-900), var(--verde-700));
}
.cta:hover {
    transform: scale(1.1);
    background: linear-gradient(var(--verde-500), var(--verde-300));
    box-shadow: 0 0 10px var(--verde-400);

    
}
.cta:hover .wrap-cta span{
    color: var(--monza-950);
    width: 100%;
    height: 100%;
} 
.cta .wrap-cta span{
    color: var(--monza-100);
    font-weight: bold;
    font-size: 0.8em;
}
.content {
    background: var(--monza-950);
    background: linear-gradient(var(--monza-950), var(--verde-900));
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    gap: 40px;
}
.content > * {
    max-width: 700px;
    min-width: 300px;
    
}

#wrap-texto-content {
    width: 70%;
}
#wrap-encabezado-texto-content h3{
    text-align: center;
}
#wrap-sobre-mi, #wrap-repertorio {
    width: 70%;
    box-shadow: 0 0 50px var(--monza-900);
    border-radius: 5px;

    /* Backgroud */
    background-color: var(--verde-600);
    background: linear-gradient(var(--verde-950),var(--verde-800));
    /* flex */
    display: flex;
    flex-wrap: wrap;
}
.wrap-sobre-mi-caja {
    min-width: 200px;
    min-height: 400px;
    flex: 1;
}
.wrap-sobre-mi-caja img {
    width: 100%;
    height: 100%;
    
}
.sobre-mi-img {
    display: flex;
    overflow: hidden;
}
.sobre-mi-texto {
    padding: 10px;
}
.sobre-mi-texto p {
    font-size: 1em;
}
#wrap-servicios {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
}
.servicio {
    width: 90%;
    max-width: 500px;
    min-width: 300px;
    padding: 2%;
    text-align: left;
    text-indent: 15%;
    position: relative;
    background: linear-gradient(to right, var(--monza-200), var(--monza-500), #000);
    box-shadow: -20px 0 50px var(--monza-500);
    border-radius: 5px;
}
.servicio::before {
    content: "";
    left: 5px;
    position: absolute;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    top: 10%;
}
.servicio:nth-child(2)::before {
    background-image: url(../IMG/servicio-1.png);
    
}
.servicio:nth-child(3)::before {
    background-image: url(../IMG/servicio-2.png);
    
}
.servicio:nth-child(4)::before {
    background-image: url(../IMG/servicio-3.png);
    
}
.servicio:nth-child(5)::before {
    background-image: url(../IMG/servicio-4.png);
    
}
#wrap-repertorio{
    position: relative;
    width: 50%;
}
#wrap-canciones,#wrap-caratulas {
    flex: 1;
}

#wrap-caratulas {
    flex: 1;

}
#wrap-canciones {
    position: absolute;
    bottom: -20px;
    left: 0px;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0% 0%, 70% 0%, 100% 20%, 100% 80%, 70% 100%, 0% 100%);
    border-radius: 20px;    

    background: brown;

}

#wrap-canciones li:hover {
    font-weight: bold;
}
#wrap-caratulas img {
    width: 100%;
    height: 100%;
}
#wrap-informacion-grupo {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* Video */
#wrap-instagram video{
    width: 70%;
    position: relative;
}




footer {
    background: linear-gradient(to bottom, var(--verde-900), #000);
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 20%;
}

